[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
runner = """
qemu-system-riscv64 -s -machine virt -bios none -m 128M -smp 4 -nographic \
-global virtio-mmio.force-legacy=false \
-drive file=target/fs.img,if=none,format=raw,id=x0 \
-device virtio-blk-device,drive=x0,bus=virtio-mmio-bus.0 \
-kernel
"""
